/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .admin{
    background-color: #c4cc7e;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .admin{
    background-color: #a06ffa;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px){
  .admin{
    background-color: #e22b9c;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  .admin{
    background-color: #e4e99b;
  }
}
