$asideWidth: 180px;
@keyframes aside-block-forward{
  0%{ left: ($asideWidth * -1); }
  90%{ left: 10px; }
  100%{ left: 0; }
}
@keyframes sandwich-forward{
  0%{ left: 0; }
  90%{ left: ($asideWidth + 10px); }
  100%{ left: $asideWidth; }
}
@keyframes aside-block-back{
  0%{ left: 0 }
  90%{ left: (($asideWidth * -1) - -10px); }
  100%{ left: ($asideWidth * -1); }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .admin.el-wrapper-base-layout{
    $header-footer-height:50px;
    background-color: #c4cc7e;
    /*Header*/
    .el-header-base-layout{
      height:$header-footer-height!important;
    }
    /*Aside and Main*/
    .el-aside-main-base-layout{
      position: relative;
      /*input*/
      #sandwich{
        visibility:visible;
        position:absolute;
        left:-15px;
      }
      /*label*/
      #sandwich ~ label[for="sandwich"]{
        position: absolute;
        top:0;
        left: 0px;
        height: 20px;
        width: 20px;
        border: 1px solid #f6f6f6;
        background-color: #409eff;
        span{
          width: 75%;
          height:2%;
          border-radius:3px;
          background-color: #f6f6f6;
          display: block;
          margin: 0 auto;
        }
      }
      /*Label element when input unchecked*/
      #sandwich:checked ~ label[for="sandwich"]{
        /*left: $asideWidth;*/
        animation: sandwich-forward 1.5s linear 0s 1 normal forwards;
        /*Sandwich children*/
        i:first-child{
          span{
            width: 85%;
          }
          span:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: -2px 6px;
          }
          span:nth-of-type(2){
            transform: rotate(135deg);
            transform-origin: 6px 4.7px;
          }
        }
        i:last-child{
          display:none;
        }
      }
      /*Label element when input checked*/
      #sandwich:not(:checked) ~ label[for="sandwich"]{
        i:first-child{
          display:none;
        }
        i:last-child{
          span:nth-of-type(1){
            transform: translateY(3px);
          }
          span:nth-of-type(2){
            transform: translateY(8px);
          }
          span:nth-of-type(3){
            transform: translateY(13px);
          }
        }
      }
      /*Aside*/
      #sandwich:checked ~ .el-aside-base-layout{
        left: 0px;
        animation: aside-block-forward 1.5s linear 0s 1 normal forwards;
      }
      #sandwich:not(:checked):focus ~ .el-aside-base-layout{
        left: ($asideWidth * -1);
        animation: aside-block-back 1.5s linear 0s 1 normal forwards;
      }
      .el-aside-base-layout{
        position: relative;
        z-index: 999;
        top:0;
        left: ($asideWidth * -1);
        width:$asideWidth!important;
        & .el-menu-item{
          font-size: .8em!important;
        }
      }
      /*Main*/
      .el-main-base-layout{
        width:310px!important;
        margin-left: ($asideWidth * -1);
        /*Index(main) page*/
        .main-page{
          #pane-0{
            p{
              max-width: 94%;
              font-size: .9em;
            }
          }
          #pane-1{
            .logo{
              width: 100%;
              .image-loader{
                .image-loader__single-image{
                  width: 100%;
                }
                .image-loader__preview{
                  width: 100%;
                  .image-loader__warning-block{
                    width:50%;
                    h4{
                      text-align:center;
                      font-size:.8em;
                    }
                  }
                  .logo__delete{
                    font-size: .7em;
                    padding: 2px 1px;
                    width:25%;
                    margin-right:2%;
                  }
                }
              }
            }
          }
          #pane-2{
            & > div{
              .el-collapse-item{
                & > div{
                  & > div{
                    padding-left: .4em;
                  }
                }
              }
            }
          }
        }
        /*Pages page*/
        .pages-page{
          & > h1{
            font-size: .7em;
          }
          .each-time-item{
            .display-menu-items{
              & > span{
                font-size: .7em;
              }
              .el-cascader{
                .el-input__inner{
                  height:30px;
                  line-height: 30px;
                }
              }
            }
            width: 100%!important;
          }
          /*Tab1*/
          .el-tab-pane{
            font-size: .9em!important;
            .edit-menu-items__current-menu-item{
              width: 100%;
            }
            /*For Tab3*/
            .delete-menu-items__current-menu-item{
              width: 100%;
            }
            .menu-page-content{
              width: 100%!important;
              .el-form-item__label{
                width:90px;
                font-size: .8em;
              }
              .el-form-item__content{
                margin-left: 50px!important;
              }
              .el-form-item.menu-page-content__checkbox{
                .el-form-item__label{
                  width: 100%!important;
                  font-size: .7em;
                }
                .el-checkbox__label{
                  font-size: .8em;
                }
              }
              .el-form{
                & > div:nth-of-type(1){
                  label{
                    width: 100% !important;
                    text-align: left;
                  }
                  .el-form-item__content{
                    margin-left:10px!important;
                    .el-input{
                      width:90%;
                    }
                  }
                }
                & > div:nth-of-type(4), & > div:nth-of-type(5){
                  label{
                    width:100px!important;
                  }
                }
                & > div:nth-of-type(6){
                  display:flex;
                  flex-direction: column;
                  & > label{
                    width: 98px!important;
                  }
                  .el-form-item__content{
                    margin-left: 0px !important;
                  }
                }
                & > div:nth-of-type(7){
                  & > .el-tabs__content{
                    label{
                      font-size:.9em;
                    }
                    .el-form-item__content{
                      margin-left: 20px !important;
                      .el-input{
                        width:100%;
                      }
                    }
                  }
                }
                & > div:nth-of-type(8){
                  & > .el-form-item__content{
                    margin-left: 10px !important;
                    button:first-child{
                      font-size:11px;
                      margin-left: 25px;
                    }
                    button:last-child{
                      font-size:11px;
                    }
                  }
                }
              }
            }
          }
        }
        /*Post-create page*/
        .post-create{
          .el-tabs__content{
            #pane-2{
              div:nth-of-type(2){
                .el-upload{
                  & > div{
                    width:280px;
                  }
                }
              }
            }
          }
        }
        /*Static page*/
        .static-page{
          .el-tabs__content{
            #pane-0{
              & > div:last-child{
                & > div:first-child{
                  width:100%;
                  p:nth-of-type(1){
                    font-size: .8em;
                  }
                  & > div:nth-of-type(1){
                    margin: 3% 0;
                  }
                }
              }
            }
            %panes-2-3{
              & > div{
                &:nth-of-type(1){
                  h3{
                    font-size:.9em;
                  }
                  .static-page__input{
                    width: 60%;
                  }
                }
                &:nth-of-type(2){
                  & > div{
                    font-size:.7em;
                    h3{
                      font-size:.9rem;
                    }
                  }
                  .static-page__input{
                    width: 60%;
                  }
                }
                &:nth-of-type(3){
                  h3:first-child{
                    font-size: 1em;
                    padding-left:3%;
                  }
                }
              }
            }
            #pane-2{
              .static-page{
                @extend  %panes-2-3;
              }
            }
            #pane-3{
              .static-page{
                @extend  %panes-2-3;
              }
            }
          }
        }
        /*Sidebar page*/
        .sidebar-page{
          #pane-first{
            font-size:.9em;
            & > div h3:nth-of-type(1){
              font-size:.8rem;
            }
          }
          @mixin posts-and-pages{
            & > h3:first-child{
              font-size:.9em;
              text-align: center;
            }
            & > div{
              .block-list{
                max-width: 100%;
                .block-list__header{
                  & > div h3:nth-of-type(1){
                    font-size:1em;
                  }
                }
              }
            }
          }
          #pane-second{
            @include posts-and-pages;
          }
          #pane-third{
            @include posts-and-pages;
          }
          #pane-fourth{
            @include posts-and-pages;
          }
          #pane-fifth{
            @include posts-and-pages;
          }
        }
        /*User page*/
        .user-page{
          #pane-0{
            font-size: .9em;
          }
          #pane-1{
            .admin-user-list{
              width:95%;
              font-size: .8em;
              .el-collapse-item{
                .el-collapse-item__header{
                  .admin-user-header-role{
                    width:25%;
                  }
                  .admin-user-header-created{
                    font-size:.8em;
                    position: absolute;
                    left: 55%;
                    width: 25%;
                    line-height: 13px;
                    text-align: center;
                  }
                }
              }
            }
          }
          #pane-2{
            font-size: .9em;
            .user-creation-form-email{
              flex-direction: column;
              div:first-child{
                width:90%;
                margin-left:5%;
                label{
                  text-align:left;
                  line-height: 20px;
                  padding: 0 2px 0 0;
                }
              }
              .user-creation-form-email__btn{
                width:50%;
                margin:0 0 2% 10%;
              }
            }
          }
        }
        /*Logout page*/
        .logout-page{
          font-size:.8em;
          margin: 10px 5px;
          button:last-child{
            margin-top: 10px;
          }
        }
        /*Chat rooms page*/
        .chat-rooms-page{
          .el-table{
            .el-table__header-wrapper{
              font-size:.8em;
            }
            .el-table__body-wrapper{
              font-size:.8em;
              .el-table__row{
                td:nth-of-type(5){
                  .cell{
                    padding-left: 0px;
                    &.el-tooltip{
                      white-space: normal;
                      width: 78px!important;
                    }
                    .el-button{
                      padding: 2px 2px 7px 2px;
                      font-size: 9.5px;
                      height: 30px;
                      position: relative;
                      i{
                        position: absolute;
                        top: 17px;
                        left: 35px;
                      }
                    }
                  }
                }
              }
            }
          }
          .chat-rooms-page__buttons{
            text-align: center;
            .el-button{
              width: 40%;
              height:25px;
              padding: 5px;
              font-size: .8em;
            }
          }
        }
      }
    }
    /*Footer*/
    .el-footer-base-layout{
      height:$header-footer-height!important;
    }
  }
  .admin-popper-pages{
    top: 135px!important;
    left: 0px!important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .admin.el-wrapper-base-layout{
    $header-footer-height:50px;
    background-color: #a06ffa;
    /*Header*/
    .el-header-base-layout{
      height:$header-footer-height!important;
    }
    /*Aside and Main*/
    .el-aside-main-base-layout{
      position: relative;
      /*input*/
      #sandwich{
        visibility:visible;
        position:absolute;
        left:-15px;
      }
      /*label*/
      #sandwich ~ label[for="sandwich"]{
        position: absolute;
        top:0;
        left: 0px;
        height: 20px;
        width: 20px;
        border: 1px solid #f6f6f6;
        background-color: #409eff;
        span{
          width: 75%;
          height:2%;
          border-radius:3px;
          background-color: #f6f6f6;
          display: block;
          margin: 0 auto;
        }
      }
      /*Label element when input unchecked*/
      #sandwich:checked ~ label[for="sandwich"]{
        /*left: $asideWidth;*/
        animation: sandwich-forward 1.5s linear 0s 1 normal forwards;
        /*Sandwich children*/
        i:first-child{
          span{
            width: 85%;
          }
          span:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: -2px 6px;
          }
          span:nth-of-type(2){
            transform: rotate(135deg);
            transform-origin: 6px 4.7px;
          }
        }
        i:last-child{
          display:none;
        }
      }
      /*Label element when input checked*/
      #sandwich:not(:checked) ~ label[for="sandwich"]{
        i:first-child{
          display:none;
        }
        i:last-child{
          span:nth-of-type(1){
            transform: translateY(3px);
          }
          span:nth-of-type(2){
            transform: translateY(8px);
          }
          span:nth-of-type(3){
            transform: translateY(13px);
          }
        }
      }
      /*Aside*/
      #sandwich:checked ~ .el-aside-base-layout{
        left: 0px;
        animation: aside-block-forward 1.5s linear 0s 1 normal forwards;
      }
      #sandwich:not(:checked):focus ~ .el-aside-base-layout{
        left: ($asideWidth * -1);
        animation: aside-block-back 1.5s linear 0s 1 normal forwards;
      }
      .el-aside-base-layout{
        position: relative;
        z-index: 999;
        top:0;
        left: ($asideWidth * -1);
        width:$asideWidth!important;
        & .el-menu-item{
          font-size: .8em!important;
        }
      }
      /*Main*/
      .el-main-base-layout{
        margin-left: ($asideWidth * -1);
        /*Index(main) page*/
        .main-page{
          #pane-0{
            p{
              max-width: 94%;
              font-size: .9em;
            }
          }
          #pane-1{
            .logo{
              width: 100%;
              .image-loader{
                .image-loader__single-image{
                  width: 100%;
                }
                .image-loader__preview{
                  width: 100%;
                  .image-loader__warning-block{
                    width:50%;
                    h4{
                      text-align:center;
                      font-size:.8em;
                    }
                  }
                  .logo__delete{
                    font-size: .7em;
                    padding: 2px 1px;
                    width:20%;
                    margin-right:2%;
                  }
                }
              }
            }
          }
          #pane-2{
            & > div{
              .el-collapse-item{
                & > div{
                  & > div{
                    padding-left: .4em;
                  }
                }
              }
            }
          }
        }
        /*Pages page*/
        .pages-page{
          & > h1{
            font-size: .7em;
          }
          .each-time-item{
            .display-menu-items{
              & > span{
                font-size: .7em;
              }
              .el-cascader{
                display:block;
                width:40%;
                .el-input__inner{
                  height:30px;
                  line-height: 30px;
                }
              }
            }
            width: 100%!important;
          }
          /*Tab1*/
          .el-tab-pane{
            font-size: .9em!important;
            .edit-menu-items__current-menu-item{
              width: 100%;
            }
            /*For Tab3*/
            .delete-menu-items__current-menu-item{
              width: 100%;
            }
            .menu-page-content{
              width: 100%!important;
              .el-form-item__label{
                width:90px;
                font-size: .8em;
              }
              .el-form-item__content{
                margin-left: 50px!important;
              }
              .el-form-item.menu-page-content__checkbox{
                .el-form-item__label{
                  width: 100%!important;
                  font-size: .7em;
                }
                .el-checkbox__label{
                  font-size: .8em;
                }
              }
              .el-form{
                & > div:nth-of-type(1){
                  label{
                    width: 100% !important;
                    text-align: left;
                  }
                  .el-form-item__content{
                    margin-left:10px!important;
                    .el-input{
                      width:90%;
                    }
                  }
                }
                & > div:nth-of-type(4), & > div:nth-of-type(5){
                  label{
                    width:100px!important;
                  }
                }
                & > div:nth-of-type(6){
                  display:flex;
                  flex-direction: column;
                  & > label{
                    width: 98px!important;
                  }
                  .el-form-item__content{
                    margin-left: 0px !important;
                  }
                }
                & > div:nth-of-type(7){
                  & > .el-tabs__content{
                    label{
                      font-size:.9em;
                    }
                    .el-form-item__content{
                      margin-left: 20px !important;
                      .el-input{
                        width:100%;
                      }
                    }
                  }
                }
                & > div:nth-of-type(8){
                  & > .el-form-item__content{
                    margin-left: 10px !important;
                    button:first-child{
                      font-size:11px;
                      margin-left: 25px;
                    }
                    button:last-child{
                      font-size:11px;
                    }
                  }
                }
              }
            }
          }
        }
        /*Static page*/
        .static-page{
          .el-tabs__content{
            #pane-0{
              & > div:last-child{
                & > div:first-child{
                  width:100%;
                  p:nth-of-type(1){
                    font-size: .9em;
                  }
                  & > div:nth-of-type(1){
                    margin: 3% 0;
                  }
                }
              }
            }
          }
        }
        /*Sidebar page*/
        .sidebar-page{
          #pane-first{
            font-size:.9em;
            & > div h3:nth-of-type(1){
              font-size:.8rem;
            }
          }
          @mixin posts-and-pages{
            & > h3:first-child{
              font-size:.9em;
              text-align: center;
            }
            & > div{
              .block-list{
                max-width: 100%;
                .block-list__header{
                  & > div h3:nth-of-type(1){
                    font-size:1em;
                  }
                }
              }
            }
          }
          #pane-second{
            @include posts-and-pages;
          }
          #pane-third{
            @include posts-and-pages;
          }
          #pane-fourth{
            @include posts-and-pages;
          }
          #pane-fifth{
            @include posts-and-pages;
          }
        }
        /*User page*/
        .user-page{
          #pane-0{
            font-size: .9em;
          }
          #pane-1{
            font-size: .8em;
            .el-collapse-item{
              .el-collapse-item__header{
                .admin-user-header-role{
                  width:25%;
                }
                .admin-user-header-created{
                  font-size:.8em;
                  position: absolute;
                  left: 55%;
                  width: 25%;
                  line-height: 13px;
                  text-align: center;
                }
              }
            }
          }
          #pane-2{
            font-size: .9em;
            .user-creation-form-email{
              flex-direction: column;
              div:first-child{
                width:90%;
                margin-left:5%;
                label{
                  text-align:left;
                  line-height: 20px;
                  padding: 0 2px 0 0;
                }
              }
              .user-creation-form-email__btn{
                width:30%;
                margin:0 0 2% 10%;
              }
            }
          }
        }
        /*Logout page*/
        .logout-page{
          font-size:.9em;
          margin: 10px 5px;
          button:last-child{
            margin-top: 10px;
          }
        }
        /*Chat rooms page*/
        .chat-rooms-page{
          .el-table{
            .el-table__header-wrapper{
              font-size:.8em;
            }
            .el-table__body-wrapper{
              font-size:.8em;
              .el-table__row{
                td:nth-of-type(5){
                  .cell{
                    padding-left: 0px;
                    &.el-tooltip{
                      white-space: normal;
                      font-size: 10px;
                    }
                    .el-button{
                      padding: 5px;
                      font-size: 10px;
                      height: 30px;
                    }
                  }
                }
              }
            }
          }
          .chat-rooms-page__buttons{
            text-align: center;
            .el-button{
              width: 30%;
              height:25px;
              padding: 5px;
              font-size: .8em;
            }
          }
        }
      }
    }
    /*Footer*/
    .el-footer-base-layout{
      height:$header-footer-height!important;
    }
  }
  .admin-popper-pages{
    top: 135px!important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px){
  .admin.el-wrapper-base-layout{
    $header-footer-height:50px;
    background-color: #e22b9c;
    /*Header*/
    .el-header-base-layout{
      height:$header-footer-height!important;
    }
    /*Aside and Main*/
    .el-aside-main-base-layout{
      position: relative;
      /*input*/
      #sandwich{
        visibility:visible;
        position:absolute;
        left:-15px;
      }
      /*label*/
      #sandwich ~ label[for="sandwich"]{
        position: absolute;
        top:0;
        left: 0px;
        height: 20px;
        width: 20px;
        border: 1px solid #f6f6f6;
        background-color: #409eff;
        span{
          width: 75%;
          height:2%;
          border-radius:3px;
          background-color: #f6f6f6;
          display: block;
          margin: 0 auto;
        }
      }
      /*Label element when input unchecked*/
      #sandwich:checked ~ label[for="sandwich"]{
        /*left: $asideWidth;*/
        animation: sandwich-forward 1.5s linear 0s 1 normal forwards;
        /*Sandwich children*/
        i:first-child{
          span{
            width: 85%;
          }
          span:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: -2px 6px;
          }
          span:nth-of-type(2){
            transform: rotate(135deg);
            transform-origin: 6px 4.7px;
          }
        }
        i:last-child{
          display:none;
        }
      }
      /*Label element when input checked*/
      #sandwich:not(:checked) ~ label[for="sandwich"]{
        i:first-child{
          display:none;
        }
        i:last-child{
          span:nth-of-type(1){
            transform: translateY(3px);
          }
          span:nth-of-type(2){
            transform: translateY(8px);
          }
          span:nth-of-type(3){
            transform: translateY(13px);
          }
        }
      }
      /*Aside*/
      #sandwich:checked ~ .el-aside-base-layout{
        left: 0px;
        animation: aside-block-forward 1.5s linear 0s 1 normal forwards;
      }
      #sandwich:not(:checked):focus ~ .el-aside-base-layout{
        left: ($asideWidth * -1);
        animation: aside-block-back 1.5s linear 0s 1 normal forwards;
      }
      .el-aside-base-layout{
        position: relative;
        z-index: 999;
        top:0;
        left: ($asideWidth * -1);
        width:$asideWidth!important;
        & .el-menu-item{
          font-size: .8em!important;
        }
      }
      /*Main*/
      .el-main-base-layout{
        margin-left: ($asideWidth * -1);
        /*Index(main) page*/
        .main-page{
          #pane-0{
            p{
              max-width: 94%;
              font-size: .9em;
            }
          }
          #pane-1{
            .logo{
              width: 100%;
              .image-loader{
                .image-loader__single-image{
                  width: 100%;
                }
                .image-loader__preview{
                  width: 100%;
                  .image-loader__warning-block{
                    width:50%;
                    h4{
                      text-align:center;
                      font-size:.8em;
                    }
                  }
                  .logo__delete{
                    font-size: .9em;
                    padding: 2px 1px;
                    width:16%;
                    margin-right:2%;
                  }
                }
              }
            }
          }
          #pane-2{
            & > div{
              .el-collapse-item{
                & > div{
                  & > div{
                    padding-left: .4em;
                  }
                }
              }
            }
          }
        }
        /*Pages page*/
        .pages-page{
          & > h1{
            font-size: .7em;
          }
          .each-time-item{
            .display-menu-items{
              & > span{
                font-size: .7em;
              }
              .el-cascader{
                display:block;
                width:40%;
                .el-input__inner{
                  height:30px;
                  line-height: 30px;
                }
              }
            }
            width: 100%!important;
          }
          /*Tab1*/
          .el-tab-pane{
            font-size: .9em!important;
            .edit-menu-items__current-menu-item{
              width: 100%;
            }
            /*For Tab3*/
            .delete-menu-items__current-menu-item{
              width: 100%;
            }
            .menu-page-content{
              width: 100%!important;
              .el-form-item__label{
                width:90px;
                font-size: .8em;
              }
              .el-form-item__content{
                margin-left: 50px!important;
              }
              .el-form-item.menu-page-content__checkbox{
                .el-form-item__label{
                  width: 100%!important;
                  font-size: .9em;
                }
                .el-checkbox__label{
                  font-size: .8em;
                }
              }
              .el-form{
                & > div:nth-of-type(1){
                  label{
                    width: 100% !important;
                    text-align: left;
                  }
                  .el-form-item__content{
                    margin-left:10px!important;
                    .el-input{
                      width:90%;
                    }
                  }
                }
                & > div:nth-of-type(4), & > div:nth-of-type(5){
                  label{
                    width:100px!important;
                  }
                }
                & > div:nth-of-type(6){
                  display:flex;
                  flex-direction: column;
                  & > label{
                    width: 98px!important;
                  }
                  .el-form-item__content{
                    margin-left: 0px !important;
                  }
                }
                & > div:nth-of-type(7){
                  & > .el-tabs__content{
                    label{
                      font-size:.9em;
                    }
                    .el-form-item__content{
                      margin-left: 20px !important;
                      .el-input{
                        width:100%;
                      }
                    }
                  }
                }
                & > div:nth-of-type(8){
                  & > .el-form-item__content{
                    margin-left: 10px !important;
                    button:first-child{
                      font-size:11px;
                      margin-left: 25px;
                    }
                    button:last-child{
                      font-size:11px;
                    }
                  }
                }
              }
            }
          }
        }
        /*Static page*/
        .static-page{
          .el-tabs__content{
            #pane-0{
              & > div:last-child{
                & > div:first-child{
                  width:100%;
                  p:nth-of-type(1){
                    font-size: 1em;
                  }
                  & > div:nth-of-type(1){
                    margin: 3% 0;
                  }
                }
              }
            }
          }
        }
        /*Sidebar page*/
        .sidebar-page{
          #pane-first{
            font-size:.9em;
            & > div h3:nth-of-type(1){
              font-size:.8rem;
            }
          }
          @mixin posts-and-pages{
            & > h3:first-child{
              font-size:.9em;
              text-align: center;
            }
            & > div{
              .block-list{
                max-width: 100%;
                .block-list__header{
                  & > div h3:nth-of-type(1){
                    font-size:1em;
                  }
                }
              }
            }
          }
          #pane-second{
            @include posts-and-pages;
          }
          #pane-third{
            @include posts-and-pages;
          }
          #pane-fourth{
            @include posts-and-pages;
          }
          #pane-fifth{
            @include posts-and-pages;
          }
        }
        /*User page*/
        .user-page{
          #pane-0{
            font-size: .9em;
          }
          #pane-1{
            font-size: .8em;
            .el-collapse-item{
              .el-collapse-item__header{
                .admin-user-header-role{
                  width:25%;
                }
                .admin-user-header-created{
                  font-size:.8em;
                  position: absolute;
                  left: 55%;
                  width: 25%;
                  line-height: 13px;
                  text-align: center;
                }
              }
            }
          }
          #pane-2{
            font-size: .9em;
            .user-creation-form-email{
              flex-direction: column;
              div:first-child{
                width:90%;
                margin-left:5%;
                label{
                  text-align:left;
                  line-height: 20px;
                  padding: 0 2px 0 0;
                }
              }
              .user-creation-form-email__btn{
                width:30%;
                margin:0 0 2% 10%;
              }
            }
          }
        }
        /*Logout page*/
        .logout-page{
          margin: 10px 5px;
          button:last-child{
            margin-top: 10px;
          }
        }
      }
    }
    /*Footer*/
    .el-footer-base-layout{
      height:$header-footer-height!important;
    }
  }
  .admin-popper-pages{
    top: 135px!important;
    /*left: 0px!important;*/
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  .admin.el-wrapper-base-layout{
    background-color: #e4e99b;
    /*Header*/
    .el-header-base-layout{}
    /*Aside and Main*/
    .el-aside-main-base-layout{
      /*input*/
      #sandwich{
        display:none;
      }
      /*Logout page*/
      .logout-page{
        margin: 10px 5px;
        button:last-child{
          margin-top: 10px;
        }
      }
    }
    /*Footer*/
    .el-footer-base-layout{}
  }
}
